<div id="<%= dom_id period %>">
  <p>
    <strong>Name:</strong>
    <%= period.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= period.number %>
  </p>

  <p>
    <strong>Begining date:</strong>
    <%= period.begining_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= period.end_date %>
  </p>

</div>
