<div>
<%= form_with(model: Assignment.new , shift_assignments_path(@shift)) do |form|%>
  <%= form.collection_select( :nurse_ids, Nurse.all.map, :id, :name, {include_blank: true,  include_hidden: false , multiple: true, class:""} ) %>
  <%= form.submit "Create Assignment", class: "btn btn-primary" %>
  <%#= submit_tag "Add Nurse", class: "btn btn-primary" %>
<% end %>
</div>
<div>
  <%#= link_to "add new nurse" %>
  <%= link_to "Edit this shift", edit_shift_path(@shift) %> |
  <%= link_to "Back to shifts", shifts_path %>

  <%= button_to "Destroy this shift", @shift, method: :delete %>
</div>