<p style="color: green"><%= notice %></p>
<%= link_to 'Years', years_path , class:'' %>

<%= render @year %>

<div>
  <%= link_to "Edit this year", edit_year_path(@year) %> |
  <%= link_to "Back to years", years_path %>

  <%= button_to "Destroy this year", @year, method: :delete %>
</div> <br>


<% @year.weeks.each do |w| %>
  <%= link_to w.start_date, year_week_path(@year, w) %> <br>
<% end %>


<br>